configuration {
    modes: "drun";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    disable-history: false;
    display-drun: "  Apps ";
    sidebar-mode: false;
    kb-cancel: "Escape,MouseSecondary";
    kb-accept-entry: "Control+j,Control+m,Return,KP_Enter,MouseMiddle";
    kb-row-select: "";
    kb-mode-next: "Shift+Right,Control+Tab,Control+space";
    kb-mode-previous: "Shift+Left,Control+ISO_Left_Tab,Control+Shift+space";
    kb-row-up: "Up,Control+p,Control+z";
    kb-row-down: "Down,Control+n,Control+x";
}

@import "~/.local/state/tobimune/rofi-theme.rasi"
@import "~/.local/state/tobimune/theme/opaque/rofi.rasi"
