<?xml version="1.0" ?>
<openbox_menu>
<menu id="root-menu" label="">
    <item label="󱁤  Reconfigure"><action name="Reconfigure"/></item>
    <item label="  Terminal"><action name="Execute" command="kitty"/></item>
    <item label="󰖟  Web browser"><action name="Execute" command="~/.local/bin/open_browser.sh"/></item>
    <item label="  File Manager"><action name="Execute" command="sh -c 'xdg-open &quot;$HOME&quot;'"/></item>
    <item label="󰍜  Haku Menu"><action name="Execute" command="~/.local/bin/hakumenu.sh"/></item>
</menu>
</openbox_menu>