@import url("../../.local/state/hakuspace/theme/colors.css");

/* ==========================================
   THUNAR WINDOW CONFIGURATION
   ========================================== */

* {
    border: none;
    font-size: small;
}

.thunar {
    background-color: rgba(15, 15, 15, 0.9);
}

.thunar .view {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
}

.thunar .view .cell {
    background-color: transparent;
}

.thunar .view:selected {
    background-color: @accent_color;
}

.thunar headerbar {
    background-color: rgba(0, 0, 0, 0.5);
}

.thunar menubar {
    background-color: transparent;
    padding: 10px 0 0 10px;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
}

.thunar menubar > menuitem {
    border-radius: 4px;
    padding: 4px 12px;
    box-shadow: none;
}

.thunar menubar > menuitem:hover {
    background-color: @accent_color;
    color: rgba(0, 0, 0, 0.8);
}

.thunar toolbar {
    border-radius: 4px;
    margin: 10px 10px 5px 10px;
    padding: 10px;
    background-color: transparent;
}

.thunar toolbar button {
    padding: 2px 10px;
    color: rgba(255, 255, 255, 0.6);
}

.thunar toolbar button:hover {
    background-color: @accent_color;
    color: rgba(0, 0, 0, 0.8);
}

.thunar toolbar button:checked,
.thunar toolbar button:active {
    background-color: @accent_color;
    color: rgba(0, 0, 0, 0.8);
}

.thunar .sidebar {
    background-color: transparent;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
}

.thunar .sidebar .cell:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.thunar .sidebar .cell:selected {
    background-color: @accent_color;
    border-radius: 4px;
}

.thunar .sidebar treeview row {
    padding: 6px 1px;
}

.thunar .sidebar treeview row:selected {
    background-color: @accent_color;
    color: rgba(0, 0, 0, 0.8);
}

.thunar .sidebar scrollbar {
    background-color: transparent;
}

.thunar .sidebar scrollbar, 
.thunar .sidebar scrollbar slider {
    min-width: 6px;
    min-height: 6px;
}

.thunar progressbar progress {
    background-color: @accent_color;
}

.thunar .view:selected,
.thunar iconview:selected {
    background-color: @accent_color;
    color: rgba(0, 0, 0, 0.8);
    border-radius: none;
}

.thunar statusbar {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin: 2px 0 2px 0;
    padding: 2px;
}

.thunar menu {
    background-color: rgba(20, 20, 20, 0.95);
    border-radius: 4px;
}

.thunar notebook > header {
    background-color: rgba(0, 0, 0, 0.25);
    padding: 4px 8px;
    margin: 0px 10px 5px 10px;
    border-radius: 4px;
    border: none;
}

.thunar notebook > header > tabs {
    background-color: transparent;
}

.thunar notebook > header > tabs > tab {
    padding: 6px 16px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.05);
    margin: 0px 4px;
    color: rgba(255, 255, 255, 0.6);
    border: none;
    transition: all 150ms ease;
}

.thunar notebook > header > tabs > tab:hover {
    background-color: rgba(255, 255, 255, 0.12);
    color: #ffffff;
}

.thunar notebook > header > tabs > tab:checked {
    background-color: @accent_color;
    color: #000000;
}

.thunar notebook > header > tabs > tab button {
    padding: 2px;
    padding-left: 6px;
    background-color: transparent;
    border-radius: 4px;
    border: none;
    color: inherit;
}

.thunar notebook > header > tabs > tab button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.thunar paned,
.thunar paned separator,
.thunar separator,
.thunar notebook,
.thunar notebook stack {
    border-style: none;
    border-width: none;
    box-shadow: none;
    outline-style: none;
    background-image: none;
    background-color: transparent;
}

.thunar .path-bar button {
    background-color: transparent;
    background: none;
    box-shadow: none;
    border: 2px solid transparent;
    color: rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    padding: 3px 6px;
}

.thunar .path-bar button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
}

.thunar .path-bar button:checked {
    background-color: @accent_color;
    color: rgba(0, 0, 0, 0.8);
}

.thunar toolbar entry {
    background-color: @accent_color;
    color: rgba(0, 0, 0, 0.8);
    box-shadow: none;
    padding: 1px;
}

.thunar toolbar entry selection {
    background: rgba(0, 0, 0, 0.9);
    color: @accent_color;
}

.thunar treeview header button {
    background-color: transparent;
    padding: 6px 10px;
    font-weight: bold;
}

.thunar treeview header button:hover {
    background-color: @accent_color;
    color: rgba(0, 0, 0, 0.8);
}

/* ==========================================
   MENU CONFIGURATION (Right Click Menu)
   ========================================== */

menu, .popup {
    background-color: rgba(26, 26, 26, 0.9);
}

menu menuitem {
    color: @accent_color;
    transition: background-color 300ms ease;
}

menu menuitem:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

menu separator {
    background-color: rgba(255, 255, 255, 0.1);
    margin: 6px 10px;
    min-height: 1px;
}


/* ====================================
   FILE CHOOSER POPUP
   ==================================== */

filechooser placessidebar row {
    min-height: 38px;
    padding: 0px 8px;
    margin: 4px 4px;
}

filechooser treeview row {
    min-height: 34px;
}

filechooser scrolledwindow {
    margin: 8px;
}

filechooser headerbar button {
    padding: 6px 16px;
    margin: 0px 4px;
}

filechooser paned {
    margin: 12px 16px;
}

filechooser actionbar {
    margin: 0px 16px 12px 16px;
}

/* @import url("../../.local/state/hakuspace/theme/opaque/gtk.css"); */