//          _   ___      _ 
//         / | / (_)____(_)
//        /  |/ / / ___/ / 
//       / /|  / / /  / /  
//      /_/ |_/_/_/  /_/   
//                         

// This is a niri custom configuration file (small config.kdl actually :p)
// You can add keybindings, rules, and other configurations here.

// Why you should custom your config in there?
// Because for each update, my dotfiles will override your all custom configurations.

// After changes, please reload Niri by `niri msg action load-config-file` on terminal

// See more in the Wiki: https://github.com/niri-wm/niri/wiki

// Example
binds {
    Mod+Return { spawn "kitty"; }

    // If you have issues with open default web in browser
    // Set your default browser:
    // Mod+B { spawn "your browser"; }
}

// More rounded corner
/-window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

// focus ring width
layout {
    focus-ring {
        off
        width 3
    }
}